# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/
env/


*.log

# IDE files
.idea/
.vscode/

# Environment files
.env

# Lib directory
Lib/

data/processed_data/
data/faiss_index/
data/embeddings/
data/raw_data/